<div class="page-header">
  <h1><%= @company.name %></h1>
</div>
<table>
  <thead>
    <tr>
      <th>
        <strong>Catch Phrase----></strong>
        <%= @company.catch_phrase %>


      </th>
    </tr>
    <tr>
      <th>
  <strong>Suffix-----></strong>
        <%= @company.suffix %>
      </tr>
    </th>




  </thead>
</table>
